
body {
	font-family: Microsoft JhengHei;
	background-color: rgb(240, 240, 240);
	font-size: 110%;
}


.top-container {
	display: grid;
	background-color: rgba(130, 210, 190, 1);
	grid-column: span 2;
		grid-column-start: span 2;
		grid-column-end: auto;
	grid-template-columns: [vv1] 40% [vv2] 50% [vv3] auto [vv4];
}

#login a {
	float: right;
	padding-top: 30px;
}

body table tr input{
	background-color: rgb(255, 255, 255);
}

body table {
	width: 600px;
	text-align: center;
	margin-left: 180px;
	margin-top: 40px;
	table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}

table td{
	word-wrap:break-word;
}

body table tr {
	vertical-align: text-top;
}

#adminIn {
	float: right;
}

#ClientListForm {
	padding-left: 20px;
}

.ChooseDiv {
	padding-left: 23px;
}

#adminTabContainer {
	font-family: Microsoft JhengHei;
}
