
body {
	font-family: arial;
	background-color: rgb(240, 240, 240);
}


.top-container {
	padding-top:1%;
	display: grid;
	background-color: rgba(200, 240, 190, 1);
	grid-column: span 2;
		grid-column-start: span 2;
		grid-column-end: auto;
	grid-template-columns: [vv1] 40% [vv2] 50% [vv3] auto [vv4];
}

.top-container {
	padding-left: 20px;
	font-size: 40px;
	color: rgb(255, 100, 255);
}

.top-container #login input {
	float: right;
}

body table tr input{
	background-color: rgb(255, 255, 255);
}

body table {
	width: 600px;
	text-align: center;
	margin-left: 180px;
	margin-top: 40px;
	table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
}

table td{
	word-wrap:break-word;
}

body table tr {
	vertical-align: text-top;
}
